<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {%- if not use_javascript %}
    <meta http-equiv="refresh" content="10">
    {%- endif %}
    <link rel="icon" type="text/png" href="/img/favicon.png">
    {%- if app_name is string %}
    <title>{{ app_name }}</title>
    {%- else %}
    <title>Folding@home stats</title>
    {%- endif %}
    <style type="text/css">
    {%- if not no_progress %}
    :root {
        {%- if font_contrast == "low" %}
        --text-color: gray;
        --link-color: steelblue;
        {%- elif font_contrast == "med" or font_contrast == "medium" %}
        --text-color: rgb(64, 64, 64);
        --link-color: rgb(35, 65, 218);
        {%- else %}
        --text-color: black;
        --link-color: blue;
        {%- endif %}
    }
    {%- endif %}
    body {
        margin: 0;
        {%- if invert_colors %}
        filter: invert(100%);
        background: black;
        {%- endif %}
        {%- if not no_progress %}
        color: var(--text-color);
        {%- endif %}
        font-family: Liberation Sans Narrow, Arial Narrow, sans-serif;
        {%- if font_size %}
        font-size: {{ font_size }}px;
        {%- else %}
        font-size: 16px;
        {%- endif %}
    }
    {%- if csrf_token %}
    #buttons-container {
        position: fixed;
        top: -50px;
        left: 0;
        z-index: 5;
    }
    body:hover #buttons-container,
    #buttons-container:focus-within {
        top: 0;
    }
    {%- endif %}
    table {
        {%- if resizable %}
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
        {%- else %}
        min-width: max-content;
        {%- endif %}
        border-spacing: 0;
        border-collapse: collapse;
    }
    {%- if hide_header %}
    thead {
        display: none;
    }
    {%- endif %}
    thead > tr {
        background: silver;
    }
    tr.progress-row.PAUSED,
    tr.progress-row.DISABLED {
        display: none;
    }
    tr.stats-row.PAUSED {
        background-color: moccasin;
    }
    tr.stats-row.DISABLED {
        background-color: pink;
    }
    {%- if hide_paused_slots %}
    tr.stats-row.PAUSED {
        display: none;
    }
    {%- endif %}
    {%- if hide_disabled_slots %}
    tr.stats-row.DISABLED {
        display: none;
    }
    {%- endif %}
    {%- for row in hide_rows %}
    tbody > tr:nth-child({{ row }}) {
        display: none;
    }
    {%- endfor %}
    th, td {
        border: 1px solid gray;
        padding: 4px;
    }
    {%- if not use_javascript %}
    tr.stats-row > td {
        border-bottom: 0;
    }
    tr.progress-row > td {
        border-top: 0;
        padding: 0 0 2px 0;
    }
    {%- endif %}
    {%- if hide_donor %}
    th:first-child > span:first-child,
    th:first-child > br,
    td:first-child > span:first-child,
    td:first-child > br {
        display: none;
    }
    {%- endif %}
    {%- for width in column_widths %}
    {%- if unstack_rows %}
    {%- if width[0] %}
    td:nth-child({{ loop.index0 * 2 + 1 }}) {
        min-width: {{ width[0] }}em;
    }
    {%- endif -%}
    {%- if width[1] %}
    td:nth-child({{ loop.index * 2 }}) {
        min-width: {{ width[1] }}em;
    }
    {%- endif -%}
    {%- else %}
    {%- if width %}
    td:nth-child({{ loop.index }}) {
        min-width: {{ width }}em;
    }
    {%- endif -%}
    {%- endif -%}
    {%- endfor %}
    {%- for column in hide_columns %}
    th:nth-child({{ column }}),
    td:nth-child({{ column }}) {
        display: none;
    }
    {%- endfor %}
    progress {
        {%- if not no_flash %}
        animation-duration: 1s;
        animation-name: progress-bar-update;
        {%- endif %}
        {%- if use_javascript %}
        position: absolute;
        border: none;
        background: none;
        {%- endif %}
        width: 100%;
        margin: 0;
        -webkit-appearance: none;
        appearance: none;

    }
    {%- if no_progress %}
    .progress {
        margin: -4px;
        background: chartreuse;
    }
    .progress-label {
        padding-left: 4px;
    }
    {%- endif %}
    {%- if use_javascript %}
    progress::-webkit-progress-bar {
        background: none;
    }
    progress::-webkit-progress-value {
        background: lightgreen;
    }
    progress::-moz-progress-bar {
        background: lightgreen;
    }
    progress:not(.RUNNING)::-webkit-progress-value {
        background: moccasin;
    }
    progress:not(.RUNNING)::-moz-progress-bar {
        background: moccasin;
    }
    {%- endif %}
    a[title] {
        cursor: pointer;
        text-decoration: underline;
    }
    {%- if not no_progress %}
    a[href] {
        color: var(--link-color);
    }
    body, a[href="#"] {
        color: var(--text-color);
    }
    a[href]:focus {
        box-shadow: 0 0 4px var(--link-color);
    }
    {%- endif %}
    {%- if not no_flash %}
    @keyframes progress-bar-update {
        from {
            {%- if use_javascript %}
            filter: brightness(120%);
            {%- else %}
            filter: brightness(150%);
            {%- endif %}
        }
        to {
            filter: brightness(100%);
        }
    }
    {%- endif %}
    </style>
    {%- if use_javascript %}
    <script type="text/javascript">
    var progress = {{ progress_as_json }};
    {%- if csrf_token %}
    window.token = "{{ csrf_token }}";
    const CSRFHeaders = new Headers();
    CSRFHeaders.append("X-CSRF-Token", window.token);
    {%- if not resizable %}
    window.addEventListener("load", resizeWindow);
    setInterval(resizeWindow, 2000);
    {%- endif %}
    {%- endif %}
    {%- if resizable %}
    window.addEventListener("resize", moveProgressToBackgrounds);
    {%- endif %}
    window.addEventListener("load", moveProgressToBackgrounds);
    window.addEventListener("load", () => {
        let focusedElementId = window.localStorage.getItem("focusedElement");
        if (!focusedElementId) {
            return;
        }
        let focusedElement = document.getElementById(focusedElementId);
        if (focusedElement) {
            focusedElement.focus();
        }
    });
    setInterval(setProgress, 1000);

    function alertDialog(message) {
        {%- if csrf_token %}
        fetch("/alert-dialog", {
            method: "POST",
            headers: CSRFHeaders,
            body: JSON.stringify({
                message: message
            })
        });
        {%- else %}
        window.alert(message);
        {%- endif %}
    }

    {%- if csrf_token %}
    function openControlPanel() {
        let promise = fetch(`{{ url_for("open_control_panel") }}`, {
            method: "GET",
            headers: CSRFHeaders
        });
        return promise;
    }

    function toggleFullscreen() {
        let promise = fetch(`{{ url_for("toggle_fullscreen") }}`, {
            method: "GET",
            headers: CSRFHeaders
        });
        return promise;
    }

    function copyURLToClipboard() {
        let promise = fetch(`{{ url_for("copy_url_to_clipboard") }}`, {
            method: "GET",
            headers: CSRFHeaders
        });
        return promise;
    }

    function resizeWindow() {
        let table = document.getElementsByTagName("table")[0];
        let promise = fetch(`{{ url_for("resize_window") }}`, {
            method: "POST",
            headers: CSRFHeaders,
            body: JSON.stringify({
                width: table.offsetWidth,
                height: table.offsetHeight
            })
        });
        return promise;
    }
    {%- endif %}

    function getPosition(element) {
        let x = 0;
        let y = 0;
        while (true) {
            x += element.offsetLeft;
            y += element.offsetTop;
            if (element.offsetParent === null) {
                break;
            }
            element = element.offsetParent;
        }
        return [x, y];
    }

    function moveProgressToBackgrounds() {
        let statsRows = document.querySelectorAll(".stats-row");
        let progressElements = document.getElementsByTagName("progress");

        for (let i = 0; i < statsRows.length; i++) {
            let statsRow = statsRows[i];
            let progressElement = progressElements[i];

            let statsRowPosition = getPosition(statsRow);
            let x = statsRowPosition[0];
            let y = statsRowPosition[1];

            progressElement.style.zIndex = "-2";
            {%- if resizable %}
            progressElement.style.left = `${x-0.1}px`;
            progressElement.style.top = `${y-0.1}px`;
            {%- else %}
            progressElement.style.left = `${x}px`;
            progressElement.style.top = `${y}px`;
            {%- endif %}
            progressElement.style.width = `${statsRow.offsetWidth}px`;
            progressElement.style.height = `${statsRow.offsetHeight}px`;
        }
    }

    function secondsToFahTime(timeFloat) {
        if (timeFloat > 0) {
            let timeString = [];
            let minutes = Math.floor(timeFloat / 60);
            if (minutes) {
                timeString.push(`${minutes} mins`);
            }
            let seconds = Math.floor(timeFloat % 60);
            if (!timeString.length) {
                timeString.push(`${seconds}.00 secs`);
            }
            else {
                timeString.push(`${(seconds + "").padStart(2, "0")} secs`);
            }
            return timeString.join(" ");
        }
        else {
            return "0.00 secs";
        }
    }

    function setProgress() {
        if (Math.floor(Date.now() / 1000) % 10 === 0) {
            let focusedElement = document.activeElement;
            if (focusedElement && focusedElement.id) {
                window.localStorage.setItem("focusedElement", focusedElement.id);
            }
            else {
                window.localStorage.removeItem("focusedElement");
            }
            location.reload(true);
            return;
        }
        let progressElements = document.getElementsByTagName("progress");
        let statsRows = document.querySelectorAll(".stats-row");
        if (statsRows.length != progressElements.length || progressElements.length != progress.length) {
            return;
        }
        for (let i = 0; i < progress.length; i++) {
            if (typeof progress[i][0] !== "number") {
                continue;
            }
            let progressElement = progressElements[i];
            let statsRow = statsRows[i];
            let statsRowChildren = statsRow.getElementsByTagName("span");

            progress[i][0] = Math.min(100, progress[i][0] + progress[i][1]);
            progressElement.value = progress[i][0];
            let progressSpan = statsRowChildren[4];
            progressSpan.innerText = `${progress[i][0].toFixed(2)}%`;

            if (typeof progress[i][2] !== "number" || progress[i][2] >= 3600) {
                continue;
            }
            progress[i][2] = Math.max(0, progress[i][2] - 1);
            let etaSpan = statsRowChildren[8];
            etaSpan.innerText = `${secondsToFahTime(progress[i][2])}`;
        };
    }
    </script>
    {%- endif -%}
</head>
<body>
    {%- if csrf_token %}
    <span id="buttons-container">
        <input id="control-panel-button" type="button" title="Open control panel" onclick="openControlPanel();" value="⚙"/>
        <input id="toggle-fullscreen-button" type="button" title="Toggle fullscreen" onclick="toggleFullscreen();" value="⛶"/>
        <input id="copy-url-to-clipboard-button" type="button" title="Copy URL to clipboard" onclick="copyURLToClipboard();" value="📋"/>
    </span>
    {%- endif %}
    <table>
    <thead>
        <tr>
        {%- for name in column_names %}
            <th>
            {%- if name is iterable and name is not string %}
            {%- for subname in name %}
            {%- if loop.index0 > 0 -%}
                <br>
            {%- endif -%}
                <span>{{ subname }}</span>
            {%- endfor %}
            {%- else %}
                <span>{{ name }}</span>
            {%- endif -%}
            </th>
        {%- endfor %}
        </tr>
    </thead>
    <tbody>
        {%- if unstack_rows %}
        {%- for slot in folding_slots %}
        {%- set slot_index = loop.index  %}
        <tr class="stats-row {{ slot[2][1] }}">
        {%- if use_javascript -%}
            <progress class="{{ slot[2][1] }}" max="100" value="{{ slot[2][0] | replace('%', '') }}">{{ slot[2][0] }}</progress>
        {%- endif -%}
        {%- for value in slot %}
        {%- set value_index = loop.index  %}
        {%- if value is iterable and value is not string %}
        {%- for subvalue in value %}
            <td>
            <span>
        {%- if subvalue is iterable and subvalue is not string -%}
        {%- if subvalue[1].startswith("http") -%}
            <a id="a-{{ slot_index }}-{{ value_index }}-{{ loop.index }}" href="{{ subvalue[1] }}" title="{{ subvalue[1] }}" target="_blank">{{ subvalue[0] }}</a>
        {%- else -%}
            <a id="a-{{ slot_index }}-{{ value_index }}-{{ loop.index }}" href="#" title="{{ subvalue[1] }}" onclick="alertDialog(this.title);">{{ subvalue[0] }}</a>
        {%- endif -%}
        {%- elif subvalue -%}
            {{ subvalue }}
        {%- else -%}
            -
        {%- endif -%}
            </span>
            </td>
        {%- endfor -%}
        {%- elif value %}
            <td><span>{{ value }}</span></td>
        {%- else %}
            <td><span>-</span></td>
        {%- endif -%}
        {%- endfor %}
        </tr>
        {%- if not use_javascript %}
        <tr class="progress-row {{ slot[2][1] }}">
            <td colspan="{{ slot | length }}">
                {%- if no_progress %}
                <div class="{{ slot[2][1] }}-progress progress" style="width: {{ slot[2][0] }};">{{ slot[2][0] }}</div>
                {%- else %}
                <progress class="{{ slot[2][1] }}" max="100" value="{{ slot[2][0] | replace('%', '') }}">{{ slot[2][0] }}</progress>
                {%- endif %}
            </td>
        </tr>
        {%- endif %}
        {%- endfor %}
        {%- else %}
        {%- for slot in folding_slots %}
        {%- set slot_index = loop.index  %}
        <tr class="stats-row {{ slot[2][1] }}">
        {%- if use_javascript -%}
            <progress class="{{ slot[2][1] }}" max="100" value="{{ slot[2][0] | replace('%', '') }}">{{ slot[2][0] }}</progress>
        {%- endif -%}
        {%- for value in slot %}
        {%- set value_index = loop.index  %}
        {%- if value is iterable and value is not string %}
            <td>
        {%- for subvalue in value %}
        {%- if loop.index0 > 0 -%}
            <br>
        {%- endif -%}
            <span>
        {%- if subvalue is iterable and subvalue is not string -%}
        {%- if subvalue[1].startswith("http") -%}
            <a id="a-{{ slot_index }}-{{ value_index }}-{{ loop.index }}" href="{{ subvalue[1] }}" title="{{ subvalue[1] }}" target="_blank">{{ subvalue[0] }}</a>
        {%- else -%}
            <a id="a-{{ slot_index }}-{{ value_index }}-{{ loop.index }}" href="#" title="{{ subvalue[1] }}" onclick="alertDialog(this.title);">{{ subvalue[0] }}</a>
        {%- endif -%}
        {%- elif subvalue -%}
            {{ subvalue }}
        {%- else -%}
            -
        {%- endif -%}
            </span>
        {%- endfor -%}
            </td>
        {%- elif value %}
            <td><span>{{ value }}</span></td>
        {%- else %}
            <td><span>-</span></td>
        {%- endif -%}
        {%- endfor %}
        </tr>
        {%- if not use_javascript %}
        <tr class="progress-row {{ slot[2][1] }}">
            <td colspan="{{ slot | length }}">
                {%- if no_progress %}
                <div class="{{ slot[2][1] }}-progress progress" style="width: {{ slot[2][0] }};">
                    <span class="progress-label">{{ slot[2][0] }}</span>
                </div>
                {%- else %}
                <progress class="{{ slot[2][1] }}" max="100" value="{{ slot[2][0] | replace('%', '') }}">{{ slot[2][0] }}</progress>
                {%- endif %}
            </td>
        </tr>
        {%- endif %}
        {%- endfor %}
        {%- endif %}
    </tbody>
    </table>
</body>
</html>
